<html>
  <head>
    <title>All Shoe Brands</title>
  </head>

  <body>
    <div class="container">

      <h3>Here are the all the Shoe Brands</h3>

      {% if brands is not empty %}
      <ul>
          {% for element in brands %}
          <li><a href="/brand/{{ element.getId() }}">{{ element.getBrand() }}</a></li>
          {% endfor %}
      </ul>
      {% else %}
          <p>There are no shoe brands!</p>
      {% endif %}

      <form action="/brands" method="post">
          <label for="brand_name">Enter New Brand Name</label>
          <input id="brand_name" name="brand_name" type="text">
          <button type="submit">New Brand</button>
      </form>

      <form action="/brands/delete" method="post">
          <button type="submit">Delete All</button>
      </form>

      <h5><a href="/">Home</a></h5>
    </div>

  </body>
</html>
