<html>
  <head>
    <title>Shoes Store</title>
  </head>
  <body>
    <div class="container">
      <form action="/stores">
          <label>See a list our stores</label>
      <button type="submit"></button>
      </form>
      <form action="/brands">
          <label>See a list of shoe brands that we carry</label>
      <button type="submit"></button>
      <form>
    </div>
  </body>
</html>
