<html>
  <head>
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="container">
      <h2>{{ store.getName() }}</h2>

      {% if brands is not empty %}
      <p>These are the shoe brands in this store.</p>
      <ul>
          {% for element in brands %}
          <li>
              {{ element.getBrand() }}
          </li>
          {% endfor %}
      </ul>
      {% else %}
          <p>This store does not have shoe brands</p>
      {% endif %}

      <form action="/stores" method="post">
          <label for="new_store">Enter a new Store</label>
          <input id="new_store" name="new_store" type="text">
          <button type="submit">New Store</button>
      </form>

      <form action="/stores/delete" method="post">
          <button type="submit">Delete All</button>
      </form>
    </div>
    <h3><a href="/">Home</a></h3>
  </body>
</html>
