<html>
  <head>
    <title>Shoe Store</title>
  </head>
  <body>
    <div class="container">

      {% if stores is not empty %}
      <p>These are the all the stores.</p>
      <ul>
          {% for element in stores %}
          <li>
              <a href="stores/{{ element.getId() }}">{{ element.getName() }}</a>
          </li>
          {% endfor %}
      </ul>
      {% else %}
          <p>No shoe brands listed!</p>
      {% endif %}

      <form action="/stores" method="post">
          <label for="stores">Enter a new Store</label>
          <input id="stores" name="stores" type="text">
          <button type="submit">New Store</button>
      </form>

      <form action="/stores/delete" method="post">
          <button type="submit">Delete All</button>
      </form>
      <h3><a href="/">Home</a></h3>
    </div>
  </body>
</html>
